*{
    font-family: "Lilita One", cursive, Comic Sans MS;
    font-weight: 100;
}

html, body {
    height: 100%; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}
/*============================= header ===============================*/
.banner{
    width: 100%;
    margin: 0px;
    height: 80px;
    font-size: 25px;
    background-color: #970F06;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.logoDiv{
    width: 60%;
}

.kontener2{
  display: flex;    
  align-items: center;    
  justify-content: center; 
  gap: 10px;   
  width: 40%;
}

.imgHeader{
    height: 80px;
    padding-top: 10px;
}

.logo{
    height: 55px;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 13px;
}
a{
    text-decoration: none;
    color: white;
}
/*============================= DO BOOTSTRAPA ZEBY NA TELEFONIE WYGLADLO GIT ===============================*/
@media (max-width: 767px) {
    .banner{
        height: auto;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
    }

    .logo{
        height: 40px;
        margin-left: 0;
        max-width: 90%;
        object-fit: contain;
    }

    .logoDiv{
        width: 100%;
        text-align: center;
    }
}
/*============================= footer ===============================*/
.stopka{
    background-color: #970F06;
    color: white;
    padding: 10px 0px;
    width: 100%;
    margin-top: 0px;
}

/*Lewa*/
.dane p{
    margin: 2px 0;
    font-size: 14px;
    text-align: left;
}

/*Środek*/
.zeg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.logoZEG{
    height: 60px;
    border-radius: 50%;
}

/*Prawa*/
.media{
    display: flex;
    flex-direction: column; 
    align-items: flex-end;    
    text-align: right;
}

.media span{
    font-size: 25px;
    margin-bottom: 5px;
}

.ikony{
    display: inline-flex;
    gap: 12px;
}

.ikony img{
    height: 35px;
}
/*============================= DO BOOTSTRAPA ZEBY NA TELEFONIE WYGLADLO GIT ===============================*/
@media (max-width: 767px) {
    .stopka{
        padding: 20px 10px;
    }
    .dane p, .media, .zeg{
        text-align: center;
        align-items: center;
    }

    .ikony{
        justify-content: center;
    }
}

