@font-face {
    font-family: 'Fredoka Lokalna';
    src: url('../Fredoka/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}
*{
    font-family: 'Fredoka Lokalna';    
    font-weight: 600;
}
.tytulAdmin{
    font-size: 45px;
}
.strona{
    flex: 1;
}
.btnAdminPanel{
    background-color: #FFCC33;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    width: 100%; /* Przycisk kolumna 4 lub 6 */
    white-space: nowrap; /* jedna linia */
    display: block;
   font-size: 20px;
}
.btnAdminPanel:hover{
    background-color: #f0c02f;
    border: 2px solid black;
}

@media (max-width: 767px) {
    .btnAdminPanel{
        font-size: 3.0vw; 
        padding: 10px 2px;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tytulAdmin{
    font-size: 45px;
    }
    .btnDodajProdukt{
        font-size: 4.0vw; 
    }

}

@media (min-width: 768px) {
    .btnAdminPanel{
        width: auto;
        font-size: 20px;
        padding: 10px 20px;
        margin-right: 20px;
    }
    .tytulAdmin{
    font-size: 80px;
    }
}

/*=========================zmiana rol================*/
select.inputLogRej {
    cursor: pointer;
    padding-right: 30px;
}

.ramka{
    border: 2px solid #555;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 0;
}
.inputAdmin{
    width: 300px;
    height: 55px;
    padding: 9px;
    border: 2px solid black;
    border-radius: 12px;
    box-sizing: border-box; 
}

.ramkaRola select {
    border: 2px solid black;
    border-radius: 12px;
    padding: 9px;
}

@media (max-width: 576px) {
    .ramkaRola .d-flex {
        justify-content: center;
        text-align: center;
    }
    
    .ramkaRola label {
        width: 100%;
        margin-bottom: 5px;
    }

    .inputRola{
        width: 250px;
        height: 35px;
        padding: 9px;
    }
    
}
/*=========================edycja produktu================*/

.ramkaEdycja{
    background-color: white;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 30px;
    display: inline-block;
    max-width: 320px; 
    width: 100%;
}

.formEdycj{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.divEdycja{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.InpEdycja{
    border: 1px solid black;
    border-radius: 12px;
    padding: 8px 12px;
    height: 40px;
    width: 250px;
    max-width: 100%;
    background-color: white;
}

.btnadminzatwierdz{
    background-color: #FFCD3C;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 25px;
    color: black;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    width: 260px;
}

.labEdycja{
    margin-bottom: 0;
    font-size: 0.9rem;
    color: black;
}

/*=========================lista zamowien================*/
.tytulZamowien{
    font-size: 3.5rem;
}

.kafelekZamowienie{
    border: 2px solid #000000;
    border-radius: 35px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.nazwaKlienta{
    font-size: 1.6rem;
    color: #000000;
}

.kontenerProduktow{
    flex-grow: 1;
    overflow-x: auto;
    padding-bottom: 15px;
    scrollbar-width: thin;
}

.ramkaMiniZdj{
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: white;
    padding: 15px;
    min-width: 170px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgZdjMini{
    width: 85px;
    height: 85px;
    object-fit: contain;
}

.nazwaMiniProd{
    font-size: 1rem;
    color: #000;
    margin-top: 8px;
}

.wariantProd{
    font-size: 0.8rem;
    margin-top: -2px;
}

.statusZamowienia{
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.miniSelect{
    width: 160px;
    height: 45  px;
    font-size: 0.9rem;
    border: 1px solid black;
    border-radius: 10px;
}

.btnZmienStatus{
    width: 160px;
    height: 38px;
    background-color: #ffcc33;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 1.1rem;
}

.btnZmienStatus:hover{
    background-color: #e6b800;
    border: 2px solid black;
}

@media (max-width: 767px) {
    .kafelekZamowienie{
        max-width: 100%;
        border-radius: 25px;
    }
    
    .statusZamowienia{
        min-width: 150px;
    }
    
    .miniSelect, .btnZmienStatus {
        width: 140px;
    }
}
/*================styl z php lista uzytkownikow*/
.listaUser{
    font-weight: bold;
    font-size: 1.5rem;
    color: #222;
}

.user{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 12px;
}

.btnUsunUser{
    text-decoration: none;
}

.btnKwadrat{
    background-color: #8B0000;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 1.2rem;
}

.btnKwadrat:hover{
    background-color: #720000;
}

.dane{
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {
    .listaUser{
        font-size: 1.1rem;
    }
    .btnKwadrat{
        width: 32px;
        height: 32px;
        font-size: 0.9rem;
    }
    .btnZmienRole{
        font-size: 4.1vw;
        padding: 2px;
    }
    .alertUser{
    font-size: 0.7rem; 
    padding: 5px;
    width: 240px;
}
}
.produktyLista{
   max-height: 400px; 
   overflow-y: auto; 
   overflow-x: hidden;
}
/* .alertlista{
    max-width: 450px; 
    font-size: 0.9rem; 
    padding: 10px;
} */
.listaZamowienScroll{
    max-height: 400px; 
    overflow-y: auto; 
    padding-right: 15px; 
    width: fit-content; 
    max-width: 100%;
}
.listaUzytkownikow{
   max-height: 450px; 
    overflow-y: auto; 
    padding-right: 15px; 
    width: fit-content; 
    max-width: 100%; 
}
.produktyLista{
    max-height: 185px; 
    overflow-y: auto; 
    padding-right: 15px; 
    width: fit-content; 
    max-width: 100%; 
}
.alertUser{
    font-size: 0.8rem; 
    padding: 8px;
}
