*{
    font-family: "Lilita One", cursive, Comic Sans MS;
    font-weight: 100;
}

.sectionLogRej{
    flex: 1; 
    text-align: center;
    padding: 50px 20px;
}

.tytulLogRej{
    font-size: 50px;
    margin-bottom: 30px;
}

.ramkaLogRej{
    border: 2px solid #555;
    border-radius: 30px;
    max-width: 450px;
    margin:auto;
    padding: 20px 40px 20px 40px;
}

.labelLogRej{
    text-align: left;
    margin-bottom: 25px;
    width: 100%;
}

.labelLogRej label{
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
}

.inputLogRej{
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 12px;
    box-sizing: border-box; 
}

.btnLogRej{
    background-color: #FFCC33;
    border: 1px solid black;
    border-radius: 12px;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.btnLogRej:hover{
    background-color: #f0c02f;
}

.tekstLog{
    margin-top: 20px;
    font-size: 18px;
}

.linkUzytkownik{
    color: #970F06;
    text-decoration: none;
}

.linkAdmin{
    color: black;
    text-decoration: none;
}   
@media (max-width: 767px) {
    .tytulLogowanie{
        font-size: 35px; 
    }

    .ramkaLogowanie{
        width: 95%;
        padding: 15px;
        margin: auto;
    }

    .inputLog{
        padding: 10px;
    }

    .btnLog{
        font-size: 18px;
    }
}