*{
    font-family: "Lilita One", cursive, Comic Sans MS;
    font-weight: 100;
}

html, body {
    height: 100%; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}
/*============================= header ===============================*/

.banner{
    width: 100%;
    margin: 0px;
    height: 80px;
    font-size: 25px;
    background-color: #970F06;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.logoDiv{
    width: 60%;
}

.kontener2{
  display: flex;    
  align-items: center;    
  justify-content: center; 
  gap: 10px;   
  width: 40%;
}

.imgHeader{
    height: 80px;
    padding-top: 10px;
}

.logo{
    height: 55px;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 13px;
}
a{
    text-decoration: none;
    color: white;
}
.menuTel{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
}
.menuTel span{
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}
.navTel{
    display: none; 
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: #970F06;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    flex-direction: column;
    gap: 2px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}
.navTel.active{
    display: flex;
}
.navTel a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
}
@media (max-width: 1200px){
    .navTel img{
        width: 50px;
        height: 60px;
    }
    .kontener2{
        display: none;
    }

    .menuTel{
        display: flex;
    }
    .logo{
        margin-left: -10px;
    }
    
}
/*============================= DO BOOTSTRAPA ZEBY NA TELEFONIE WYGLADLO GIT ===============================*/
@media (max-width: 767px) {
    .banner{
        height: 80px;
        padding: 0px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo{  
        height: 25px;
        margin: 0;
    }

    .logoDiv{
        width: auto;
        text-align: left;
    }

    .menuTel{
        display: flex;
    }
}
/*============================= footer ===============================*/
.stopka{
    background-color: #970F06;
    color: white;
    padding: 10px 0px;
    width: 100%;
    margin-top: 0px;
}

/*Lewa*/
.dane p{
    margin: 2px 0;
    font-size: 14px;
    text-align: left;
}

/*Środek*/
.zeg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.logoZEG{
    height: 60px;
    border-radius: 50%;
}

/*Prawa*/
.media{
    display: flex;
    flex-direction: column; 
    align-items: flex-end;    
    text-align: right;
}

.media span{
    font-size: 25px;
    margin-bottom: 5px;
}

.ikony{
    display: inline-flex;
    gap: 12px;
}

.ikony img{
    height: 35px;
}
/*============================= DO BOOTSTRAPA ZEBY NA TELEFONIE WYGLADLO GIT ===============================*/
@media (max-width: 767px) {
    .stopka{
        padding: 20px 10px;
    }
    .dane p, .media, .zeg{
        text-align: center;
        align-items: center;
    }

    .ikony{
        justify-content: center;
    }
}

